$cell-size: 50px;
$side-cell-size: 20px;

@mixin board-play-cell() {
  line-height: $cell-size;
  font-size: 28px;
}

.cell {
  display: inline-block;
  height: $cell-size;
  width: $cell-size;
  vertical-align: middle;
  text-align: center;


  &.black {
    background-color: #A17E42;
    @include board-play-cell();
  }

  &.white {
    background-color: #FBD28A;
    @include board-play-cell();
  }

  &.row0 {
    &.col0 {
      width: $side-cell-size;
    }
  }

  &.row0 {
    height: $side-cell-size;
    text-align: center;
  }

  &.col0 {
    width: $side-cell-size;
    line-height: $cell-size;
  }

  &.clickable:hover {
    cursor: hand;
  }

  &.potential-move {
    box-shadow: inset 0 0 16px 2px dodgerblue;
  }

  &.selected {
    box-shadow: inset 0 0 3px 1px black;
  }
}